/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/09/2021, 9:27:15
    Author     : jhona
*/

body{
    background: rosybrown;
    display: flex;
    justify-content: center;
}
.contendor{
    width: 450px;
    height: 380px;
    background: #007ee5;
    color: white;
    text-align: center;
    font-size: 28px;
    top: 25%;
    position: absolute;
    border-radius: 2px;
}